body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
}

.darkGreenText {
    color: #5D8B03;
}

.brownText {
    color: #BF7D2F;
}

h2 {
    color: #92B61A;
    border-bottom: 1px solid #e4e7de;
}

h3 {
    color: #C6864C;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container div{
    border: 2px solid lightgray;
    padding: 20px;
    width: 700px;
    float:right;
}

ul {
    float: left;
}